



 /* ---------- For JS NodeList HTML ----------- */

.myButton{
    border: none;
    border-radius: 5px;
    font-size: 3rem;
    padding: 10px 15px;
    margin: 10px;
    background-color: hsl(204, 90%, 50%);
    color: white;
} 



/* -------- For JS  HIDE and SHOW HTML --------- */
/*
#myButton{
    font-size: 2rem;
}
*/

/* -------- For JS KEY EVENTS CSS -------- */
/*
body{
    margin: 0;
}
#myBox{
    background-color: lightgreen;
    width: 300px;
    height: 300px;
    font-size: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
*/

/* 
#myButton{
    border: 1px solid;
    font-size: 2.5rem;
    padding: 5px;
    margin: 5px;
} 
*/


 /* -------- For JS Add/Change CSS -------- */

/*
#fruits{
    border: 2px solid;
    font-size: 2rem;
    color: rgb(65, 65, 65);
} 
*/


 /* -------- For JS STOPWATCH CSS -------- */
/*
 body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}
#myH1{
    font-size: 4rem;
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 25%);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
#startBtn{
    background-color: hsl(150, 85%, 45%);
}
#startBtn:hover{
    background-color: hsl(150, 85%, 35%);
}
#stopBtn{
    background-color: hsl(0, 88%, 60%);
}
#stopBtn:hover{
    background-color: hsl(0, 88%, 45%);
}
#resetBtn{
    background-color: hsl(221, 95%, 60%);
}
#resetBtn:hover{
    background-color: hsl(221, 95%, 50%);
}
*/

/* --------- For JS Digital Clock CSS ------- */
/*
body{
    background-image: url(others/background1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
h1{
    color: hsl(157, 93%, 56%);
    font-size: 3em;
    text-align: center;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: Arial, sans-serif;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(75, 252, 169);
    backdrop-filter: blur(3px);
    background-color: hsla(0, 0%, 100%, 0.1);
    width: 100%;
}
*/

/* ------ For JS compound interest calculator CSS------- */
/*
body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
}
h1{
    color: hsl(129, 30%, 32%);
    font-size: 3em;
    text-align: center;
}
form{
    background-color:white;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-size: 2em;
    font-weight: bold;
}
input{
    font-size: 2rem;
    width: 50%;
    text-align: center;
    border: 2px, solid hsl(0, 0%, 90%);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}
button{
    font-size: 1.5em;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: hsl(120, 100%, 40%);
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: hsl(120, 100%, 30%);
}
#total{
    font-size: 2em;
}
#total-amount{
    color: hsl(120, 100%, 35%);;
    font-weight: bold;
}
*/

/*
#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5em;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(210, 100%, 60%);
}
button:active{
    background-color: hsl(210, 100%, 70%);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResult{
    margin: 25px;
}
#diceImages{
    width: 150px;
    margin: 5px;
}
*/

/* --------- For Tempreature --------- */
/* body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    font-size: 20px;
}
h1{
    color: hsl(223, 100%, 64%);
    text-align: center;
}
form{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 450px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: hsl(0, 100%, 60%);
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 100%, 40%);
}
#result{
    font-size: 1.7em;
    font-weight: bold;
} */

/* #myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}

.myLabels{
    font-size: 3em;
} */

/* #countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

.btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: hsl(214, 100%, 56%);
} */